

.card_body{
  padding: 0 !important;
  margin-top: 15px;
}
.contact_links_icon {
  color: #FFA000;
  /* text-shadow: #7b1fa2 3px 3px 3px; */
  
  margin-left: 6px;
  margin-right: 10px;
  cursor: pointer;
}
.main{
  
}
.tooltip {
  width: 4em;
  border-radius: 10px;
  background: #FFA000;
  color: white;
  right: -1em;
}
.name {
  text-decoration: solid;
}
.short_info {
  min-height: 5em;
  
}
.project_vid {
  width: 100%;
  height: 100%;
}

.projectTagWrapper{
  width: 22px;
  border-radius: 50%;
  height: 22px;
  
  overflow: hidden;
}

@media only screen and (max-width: 900px) {
  .nav_btn{
    font-size: 13px;
    height: 30px;
    /* min-width: 20px; */
  }
}
