/*color designs*/

.header_label_color1{
    background: linear-gradient(45deg,#303f9f,#7b1fa2);
}
.row_background{
    background-color: white;
}
.nav_text{
    color: white;
}
.nav_icons{
    color: white;
}
.w_link{
    color: white;
}
.link-btn{
    color: #0d6efd;
    border: white solid;
}
.backup_img{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#303f9f,#7b1fa2);
    color: white;
    font-size: x-large;
}
.sharebutton{
    
    background-color: unset;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: #7b1fa2 solid 1px;

}

.sharebutton:hover{
    transform:scale(120%);
}
.loadmore_btn{
    width: 50vw;
    background: unset;
    border: 2px solid #7b1fa2;
    color: blue;
}
.loadmore_btn:hover{
    background: #7b1fa2;
    color: white;
}
.faHandshake{
    width: 1em;
    height: 1em;
}
.faPlusCircle{
    color: #7b1fa2;
}
.post_box_category{
    background-color: rgba(102, 51, 153, 0.747);
    color: white;
}
.thread_message{
    border: solid rgba(102, 51, 153, 0.747) ;
}
.thread_message_image{
    border: solid rgba(102, 51, 153, 0.747) ;
}
.thread_add_message_box{
    background-color: white;
}
/* end of color designs*/
.intro_box{
    height: 50vh;
    position: relative;
    
}
.intro_text{
    position: absolute;
    
}
.header_label{
    width: 100%;
    height: 4vh;
    
    border-radius: 10px;
}
.header_label_text{
    font-size: large;
    color: white;
    
}
.trending_box{
    height: 40vh;
    
    position: relative;
    padding: 10px;
}
.trending_box:hover .img{
    
    
    transform: scale(0.8);
    
}
.trending_box_img_text{
    position: absolute;
    
}
.dark_overlay{
    background-color: rgba(0, 0, 0, 0.226);
    width: 100%;
    height: 100%;
    position: absolute;
    
}
.dark_overlay2{
    background-color: rgba(0, 0, 0, 0.685);
    width: 42vw;
    height: 80vh;
    position: fixed;
    right: 30vw;
    
}

.add_box1{
    height: 25vh;
    border:  solid 0.5px black;
}
.post_box{
    height: auto;
    
}
.post_box_img{
    height: 40vh;
    
    position: relative;

}
.post_box_body{
    height: auto;
    
    
}
.post_box_heading{
    font-size: medium;
    font-weight: bold;
    padding: 0.5em;
}
.post_box_body_text{
    font-size: medium;
}
.post_box_category{
    position: absolute;
    top: 4%;
    right: 5%;
    height: 2em;
    width: auto;
    padding: 0.2em;
    border-radius: 5px;
}
.post_box_footer{
    height: 5vh;
    
    font-size: small;
}
.thread_link{
    color: royalblue;
    width: 100%;
    border-bottom: 2px royalblue solid;
    
}
.threads_body{
    
}
.threads_rightbar{
   
    position: sticky;
    
}
.threads_leftbar{
    
    max-height: 70vh;
    
}
.thread_message_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
    overflow: hidden;
    
}
.thread_message{
    
}
.thread_add_message_box{
    
    position: relative;
    width: 40vw;
    height: 70vh;
}
.thread_form{
    height: 100%;
    width: 100%;
} 
.thread_input{
    width: 100%;
    height: 20%;
}
.close_btn{
    position: absolute;
    top:-25%;
    right:-5%;
}
.adds_container{
    position: sticky;
    top: 0;
}
.post_detail_page{
    min-height: 50vh;
    font-size: medium;
}
.author_profile_pic{
    width: 12em;
    height: auto;
    border: #0d6efd solid 2px;
    
    object-fit: fill;
    overflow: hidden;
}
.searchbox_form{
    width: 100%;
    background: white;
    border-radius: 15px;
    border-color: #7b1fa2;
}
.search_btn{
    background: #7b1fa2;
    color: white;
}
.search_btn:hover{
    color: whitesmoke;
}

.index_add_thread_modal_overlay{
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.507);
    position: fixed;
    top: 0;
    z-index: 999;
}
.index_search_modal_overlay{
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.507);
    position: fixed;
    top: 0;
    z-index: 999;
}
.index_search_modal_box{
    background: linear-gradient(45deg,#303f9f,#7b1fa2);
    height: 90vh;
    width: 70%;
    
    
    align-content: flex-start;
}
.search_box_result{
    overflow-y: auto;
    max-height: 53vh;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}

.search_box_result::-webkit-scrollbar{
    background: unset;
    width: 0.5em;
}
.search_box_result::-webkit-scrollbar-thumb {
    background: #7b1fa2;
    
  }
.search_item_container{
    border: 2px solid white;
    width: 90%;
    min-height: 10vh;
}
.index_item_info{
    border-right: solid 2px white;
    color: white;
}
.index_item_info_1{
    font-size: xx-large;
}

.index_item_detail_1{
    width: 100%;
   color: white;
   
}
.index_item_detail_2{
    height: 2.5em;
    border-top: solid 1px white;
    color: white;
}
.scroll_btn{
    background: #7b1fa2;
    color: white;
    border-radius: 15px;
    min-width: 7em;

}
.scroll_container{
    min-width: 10em;
    min-height: 20vh;
    line-height: 3em;
    background: white;
    border: solid 2px #7b1fa2;
    font-size: medium;
    
}
@media only screen and (min-width: 761px)  {

}
@media only screen and (max-width: 760px)  {
    .adds_container{
        position: static;
    }
    .dark_overlay2{
        
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0vw;
        top: 0vw;
        z-index: 1000;
    }
    
    
    .thread_add_message_box{
    
        
        width: 80vw;
        height: 85vh;
    }
    .thread_form{
        height: 100%;
        width: 100%;
       
    }
    .index_search_modal_box{
        width: 90%;
    } 
    .search_box_result::-webkit-scrollbar{
        background: unset;
        width: 0.2em;
    }
}
   