
@media only screen and (max-width: 900px)  {
    .main_body{
        display: flex;
        font-family: Pristina;
        flex-direction: column;
        gap: 10px;
        
    }
    .categories{
        order: 1;
        width: 100%;
        
        
    }
    .open_threads{
        order: 2;
    }
    .adds{
        order:3
    }
    .post_for_you{
        order:4
    }
    .posts{
        order:5
    }
    .post_list{
        display: flex;
        flex-direction: column;
        height: max-content;
        width: 100%;
           
    }
    .post_body{
        width: 100%;
        height: 40%;
        padding: 2% 2% 2% 2%;
    }
    .post_body1{
        width: 100%;
        height: 40%;
        padding: 2% 2% 2% 2%;
    }
    .add{
        
        margin: 13vh 5% 5% 5%;
        height: 30vh;
        
        
    }
    .blog_post_status{
        background-color: white;
        height: 30%;
        display: flex;
        flex-direction: column;
        padding: 5% 5% 5% 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .author{
        margin: 5% 5% 5% 5%;

    }
    .main{
        margin-bottom: 5vh;
        margin: 5% 5% 5% 5%;
    }
    .blog_chat{
        display: flex;
        flex-wrap: wrap;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        font-weight:4px;
        min-height: 90vh;

    }
    .blog_chat_main{
        
        order:2;
        
        margin-top: 3%;
        width: 100%;
        margin-top: 8%;
        padding: 2% 3% 3% 3%;
    }
    .blog_chat_sidebar1{
        
        
        align-content: space-between;
        order: 3;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        justify-content: center;
        height: fit-content;
        margin-bottom: 1vh;
    }    
    .blog_chat_sidebar2{
        width: 100%;
        margin-top: 8%;
        order: 1;
        height: 50vh;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .blog_chat_sidebar_adds{
        width: 100%;
        margin-top:9vh;
        height: 60%;
        background-color: white;
        margin-bottom: 10px;
    }
    .blog_chat_sidebar_text{
        width: 100%;
        height: 30%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .blog_chat_description{
        display: flex;
        height: auto;
        padding: 5px 5px 5px 5px;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        background-color: white;
    }
    
    .blog_chat_message{
        display: flex;
        margin-bottom: 5%;
        height: auto;
    }
    .blog_chat_message_image{
        width: 3em;
        height: 3em;
        
    }
    .blog_chat_message_detail{
        margin-left: 1em;
        width: 80%;
        
        
        
    }
    .justify_space_around{
        display: flex;
        width: 100%;
        justify-content: space-between;
         
    }
    .blog_chat_message_detail1{
        border: black solid 2px;
        height: 100%;
        height: fit-content;
        border-radius: 1em;
        background-color: rgb(255, 255, 255);
        
    }
    
    
}

.trending{
    width: 93vw;
    margin-top: 10vh;
    background-color: white;
    display: grid;
    flex-direction: column;
    
    justify-items: center; 
    
}
.trending_list{
    display: flex;
    height: 30vh;
    width: 93vw;
    
    justify-content: space-around;
    align-items: center;
}
.trending_topics{
    background-color: rgb(17, 15, 15);
    width: 25%;
    height: 80%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    align-items: center;
    
    
}
.trending_topics_text{
    color: white;
    position: absolute;
    
    
}
.trending_image{
    position: absolute;
    opacity: 50%;
}
@media only screen and (min-width: 900px){
    .main_body{
        font-family: Pristina;
        display: flex;
        font-family: Pristina;
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 15px;
        
        
    }
    
    .post_list{
        display: flex;
        
        flex-wrap: wrap;
        height: max-content;
        gap: 3%;
        align-items: stretch;   
    }
    .post_body{
        width: 30%;
        height: 10%;
        padding: 2% 2% 2% 2%;
         
        
    }
    .post_body1{
        width: 30%;
        height: 35%;
        
    }
    .blog_post_sidebar1{
        height: 70vh;
        margin-left: 2vw;
        margin-top: 10vh;
        margin-left: 2wv;
        position: sticky;
        top: 13%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        
    }
    .add{
        height: 60%;
        margin-bottom: 10px;
    }
    .blog_post_status{
        background-color: white;
        height: 30%;
        display: flex;
        flex-direction: column;
        padding: 5% 5% 5% 5%;
    }
    .author{
        height: 80vh;
        margin-top: 10vh;
        margin-right: 2vw;
        background-color: rgba(59, 131, 238, 0.226);
        position: sticky;
        top: 13%;
        
    }
    .main{
        background-color: darkcyan;
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .categories{
        width: 30%;
    }
    .post_for_you{
        width: 30%;
    }
    .adds{
        width: 30%;
    }
    .posts{
        width: 75%;
    }
    .open_threads{
        width: 20%;
        height: 90%;
    }
    .blog_chat{
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        min-height: 95vh;
    }
    .blog_chat_main{
        flex: 3;
        order:2;
        
        margin-top: 3%;
        
        margin-top: 8%;
        padding: 2% 3% 3% 3%;
    }
    .blog_chat_sidebar1{
        position: sticky;
        top: 13%;
        flex: 1;
        margin-right: 5vw;
        order: 1;
        height: 75vh;
        align-content: space-around;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
       
    .blog_chat_sidebar2{
        position: sticky;
        top: 13%;
        flex: 1;
        margin-left: 5vw;
        order: 3;
        height: 75vh;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    
    .blog_chat_sidebar_adds{
        height: 70%;
        width: 100%;
        background-color: white;
    }
    .blog_chat_sidebar_text{
        min-height: 20%;
        
        width: 100%;
        background-color: white;
        padding: 10px 10px 10px 10px;
        display: flex;
        flex-direction: column;
    }
    .blog_chat_description{
        display: flex;
        height: auto;
        padding: 5px 5px 5px 5px;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        background-color: white;
    }
    
    .blog_chat_message{
        display: flex;
        margin-bottom: 5%;
    }
    .blog_chat_message_image{
        width: 4em;
        height: 4em;
        
    }
    
    .blog_chat_message_detail{
        margin-left: 1em;
        width: 80%;
        
    }
    .justify_space_around{
        display: flex;
        width: 100%;
        justify-items: space-around;
        justify-content: space-between;
        

    }
    .blog_chat_message_detail1{
        border: black solid 2px;
        height: 100%;
        height: fit-content;
        border-radius: 1em;
        background-color: rgb(255, 255, 255);
        
    }
}


.categories{
    
    order: 1;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    font-size: medium;
}
.list_text{
    display: inline-flex;
    flex-wrap: wrap;
}
.post_for_you{
    
    
    display: grid;
    justify-content: center;
    justify-items: center;
    background-color: white;
    order: 2;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.adds{
    
    
    order:3;
    display: grid;
    justify-content: center;
    justify-items: center;
    background-color: white;
    margin-bottom: 15px;
}
.open_threads{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    order: 5;
    background-color: white;
    display: flex;
    
    justify-content: center;
}
.posts{
    
    order: 4;
    padding: 10px 10px 10px 10px;
    display: grid;
    justify-content: center;
    justify-items: center;
    background-color: white;
    margin-bottom: 3%;
    
}

.post_text{
    height: 45%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.post_text1{
    height: 70%;
}
.post_footer1{
    height: 20%;
}
.post_footer{
    height: 10%;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: small;

}
.main{
    flex: 3;
    order:2;
    
    justify-items: center;
    gap:2%;
    padding: 3% 3% 3% 3%;
    background-color: white;
    margin-top: 6%;
    font-family: 'pristina', Arial, Helvetica, sans-serif;
    font-size: x-large;
    height:fit-content;
    
}
.author{
    flex:1;
    order:3;
    background-color: white;
    height: 80vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 1% 1% 1% 1%;
}
.blog_post_sidebar1{
   
    flex:1;
    order:1;
    display: flex;
    flex-direction: column;
     
}
.add{
    background-color: white;
    
}

.blog_chat_body{
    background-color: #F5F5F5;
    height: auto;
    border: black solid;
}
.blog_chat{
    margin-left: 3%;
    margin-right: 3%;
    
}
.blog_chat_input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.blog_chat_name{
    border-radius: 20px;
    margin-bottom: 1vh;
    width: 80vw;
    font-size: medium;
}
.blog_chat_textarea{
    border-top-right-radius: 15px;
    height: 30vh;
    width: 80vw;
    margin-bottom: 1vh;
    font-size: medium;
}
.blog_chat_image_select{
    background-color: white;
    height: 20vh;
    width: 80vw;
}
.blog_post_share{
    border-top:solid black ;
    border-bottom: black solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-bottom: 5vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}
.blog_about_author{
    font-size: small;
    margin: 5% 5% 5% 5%;
}
.post_detail_shake_share{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.post_image{
    position: relative;
    height: 30vh;
    
}
.post_image_text{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    z-index: 88;
    padding-left: 5px;
    padding-right: 5px;
    top:10px;
    border-radius: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.527);
    color: #dd3d3d;
    z-index: 900;
}
.category_links{
    display: flex;
    gap: 10px;
}
.post_cate_list{
    width: 80vw;
    height: 100%;
}
.font_color_red{
    color: #dd3d3d;
}
