.minimall_popup{
    padding: 10px;
    width: 300px;
    height: 600px;
}
.product_tag{
    padding: 5px;
    background-color: var(--second-background);
    color: white;
    border-radius: 10px;
    font-size: small;
}
.cart_header{
    background: var(--card-header-color);
    color: white;
}
.body{
    padding: 5% 5% 5% 5%;
    background: white;
    height: 100vh;
}
.header{
    height: 10vh;
    width: 100%;

}
.bottomNav{
    position: sticky;
    bottom: 0;
    height: 5vh;
    
}
.bottomNav div{
    background-color: var(--second-background);
}

.cartAmount{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--card-color);
    color: var(--font-color);
    position: absolute;
    top: -60%;
    right: 15%;
}

@media only screen and (min-width: 900px){
    .header_text{
        font-size: xx-large;
        font-weight: bolder;
    }
    .section{
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
        
    
    }
    .image{
        width: 50%;
        height: 50%;
    }
        
}
@media only screen and (max-width: 899px){
    .minimall_popup{
        
        width: 80vw;
        height: 600px;
    }
    .header_text{
        font-size: large;
        font-weight: bolder;
    }
    .section{
        width: 90vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        
    
    }
    .image{
        width: 90%;
        height: 90%;
    }
    
}
