
:root{
  --card-color:#222;
  --background-color:#16151d;
  --link-color:#FFA000;
  --link-hover:#ffa200a4;
  --second-background:#03031b;
  --font-color:white;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: fira sans,sans-serif;
  font-size: 18px;
  
  background: #16151d;
  background: var(--background-color);
  

}
nav{
  background: #03031b;
  background: var(--second-background);
  
}

.navbar-brand{
  font-size: xx-large;
}
.nav-link{
  color: white;
}
.nav-link:hover{
  color: #FFA000;
  color: var(--link-color);

}
.modal{
  background: rgba(0, 0, 0, 0.519);
}
.modal-content{
  background: var(--background-color);
  height: 95vh;
  
  
}
.modal-title{
  color: var(--font-color);
}
.btn-close{
  background: var(--font-color);
  color: var(--font-color);
}
.active{
  color: #FFA000;
  color: var(--link-color);
}
.active-btn{
  background: #FFA000;
  background: var(--link-color);
  color: white;
}

input{
  background: #222;
  background: var(--card-color);
}


h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
}

footer{
  background: #03031b;
  background: var(--second-background);
  padding: 10px;
}
.card-description{
  background-color: #16151d;
  background-color: var(--background-color);
  padding: 10px;

}
.faComments{
  color: #FFA000;
  color: var(--link-color);
}
.comment-button{
  background: unset;
  border: unset;
}
.card{
  background: #222;
  background: var(--card-color);
  color: white;
  color: var(--font-color);
  border-radius: 15px;
  
}
.carousel-caption{
  background: #03031b8c;
}
.carousel-inner{
  height: 280px;
  background: var(--second-background);
  overflow: hidden;
}

.card-header{
  
  background: #222;
  background: var(--card-color);
  
  font-family: fira sans,sans-serif;
  color: white;
  color: var(--font-color);
  
}
.header-main{
  background: #463610;
}






a {
  color: #FFA000;
  color: var(--link-color);
  text-decoration: none;
}
a:hover{
  color: #ffa200a4;
  color: var(--link-hover);
}
a .btn{
  outline: #FFA000;
}


.button{
  
  
  color: #FFA000;
  color: var(--link-color);
  
  border: solid 1px  #FFA000;
  border: solid 1px var(--link-color);
}

.btn{
  border-radius: 10px;
  /* color: #FFA000; */
}
.btn:hover{
  background: #FFA000;
  background: var(--link-color);
  color: white;
}
.btn:focus{
  box-shadow: var(--link-color);
}

* {
  box-sizing: border-box;
}
.about_container{
  color: white;
  color: var(--font-color);
}
.site-title{
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
}


@media (max-width: 900px){
  
  footer{
    font-size: 14px;
  }
  body{
    font-size: 16px;
  }
  
  
  
  
}
@media only screen and (min-width: 901px){
  
}